body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}
.cageDancer{
  position:absolute;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  background-image: url("http://www.placecage.com/c/50/50");
  -webkit-animation:spin 1s linear infinite;
      -moz-animation:spin 1s linear infinite;
      animation:spin 1s linear infinite;
  }

  @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
  @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
  @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.big{
  height: 200px;
  width: 200px;
  border-radius: 100px;
  background-image: url(http://www.placecage.com/c/200/200);
  background-size 100% 100%;
    -webkit-animation:spin 5s linear infinite;
      -moz-animation:spin 5s linear infinite;
      animation:spin 5s linear infinite;
  }